<h2>Quản lí chung</h2>
<div class="panel-heading">
    <h4 class="panel-title"><a is-active-route  asp-controller="TaiKhoan" asp-action="Index">Thông tin tài khoản</a></h4>
</div>
<div class="panel-heading">
    <h4 class="panel-title"><a is-active-route asp-controller="Wishlist" asp-action="Index">Wishlist của tôi</a></h4>
</div>

<div class="panel-heading">
    <h4 class="panel-title"><a is-active-route  asp-area="Users" asp-controller="MatKhau" asp-action="DoiMatKhau">Đổi mật khẩu</a></h4>
</div>

<div class="panel-heading">
    <h4 class="panel-title"><a is-active-route asp-area="Users" asp-controller="DonHang" asp-action="Index">Quản lý đơn đặt hàng</a></h4>
</div>